body {
    direction: rtl;
    background-color: gray;
}

table {
    text-align: center;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid black;
}

.btn {
    text-decoration: none;
    text-align: center;
    background-color: aqua;
    border: 1px solid aqua;
}

.btn-large {
    padding: 15px 40px 15px 40px;
    font-size: 1rem;
}
