body {
    /*background-color: #0085e2;*/
    background-color:gray;
    direction: rtl;
}

.title {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 55px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-div {
    text-align: center;
    background-color: #fefefe;
    padding: 25px;
}

.forgot-password-header {
    color: #1a84ce;
}

.mail-input {
    width: 100%;
    border: 1px solid gray;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
}

.mail-input::placeholder {
    text-align: center;
}

.error-div {
    color: red;
    text-align: right;
    font-size: 25px;
}

.forgot-password-button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #0087e6;
    color: white;
    border: none;
    padding: 15px 10px 15px 10px;
    font-size: 20px;
}

.good-feedback {
    color: green;
    text-align: right;
    font-size: 25px;
}
